.form {
  min-width: 100px;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  margin-top: 8%;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #542c99;
}

.spinner {
  text-align: center;
  margin-top: 15%;
}

.spinner mat-spinner {
  display: inline-block;
}

.email-field,
.passwort-field {
  width: 100%;
}

.passwort-field {
  margin-top: 15px;
}

button {
  margin-top: 15px;
  margin-right: 2%;
}
